body{
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: black;
}
.container{
  text-align: center;
  align-items: center;
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
}
#box {
    box-shadow: 0 4px 8px 0 rgb(32, 32, 32);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding: 20px;
    margin-top: 15px;
    color: cyan;
  }
  #task{
    padding: 10px;
    border-radius: 10px;
    border: none;
  }
  .container .search #button{
    background-color: cyan;
    padding: 10px;
    border-radius: 10px;
  }
  #box:hover{
    box-shadow: 0 4px 8px 0 cyan;
  }
 #card{
   padding: 20px 15vw;
   
 } 
 h1{
  font-size: 60px;
  padding: 0px;
  color: cyan;
 }
 h6{
  color: grey;
 }